<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victor.h5blog.dao.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.victor.h5blog.entity.Video" >
    <id column="video_id" property="videoId" jdbcType="BIGINT" />
    <result column="video_name" property="videoName" jdbcType="VARCHAR" />
    <result column="video_desc" property="videoDesc" jdbcType="VARCHAR" />
    <result column="video_tag" property="videoTag" jdbcType="VARCHAR" />
    <result column="video_posterPath" property="videoPosterpath" jdbcType="VARCHAR" />
    <result column="video_originalPath" property="videoOriginalpath" jdbcType="VARCHAR" />
    <result column="video_compressedPath" property="videoCompressedpath" jdbcType="VARCHAR" />
    <result column="catlog_id" property="catlogId" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="change_user" property="changeUser" jdbcType="VARCHAR" />
    <result column="change_date" property="changeDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    video_id, video_name, video_desc, video_tag, video_posterPath, video_originalPath, 
    video_compressedPath, catlog_id, create_user, create_date, change_user, change_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.victor.h5blog.entity.VideoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from h5blog_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from h5blog_video
    where video_id = #{videoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from h5blog_video
    where video_id = #{videoId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.victor.h5blog.entity.VideoExample" >
    delete from h5blog_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.victor.h5blog.entity.Video"  useGeneratedKeys="true" keyProperty="videoId">
    insert into h5blog_video (video_id, video_name, video_desc, 
      video_tag, video_posterPath, video_originalPath, 
      video_compressedPath, catlog_id, create_user, 
      create_date, change_user, change_date
      )
    values (#{videoId,jdbcType=BIGINT}, #{videoName,jdbcType=VARCHAR}, #{videoDesc,jdbcType=VARCHAR}, 
      #{videoTag,jdbcType=VARCHAR}, #{videoPosterpath,jdbcType=VARCHAR}, #{videoOriginalpath,jdbcType=VARCHAR}, 
      #{videoCompressedpath,jdbcType=VARCHAR}, #{catlogId,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{changeUser,jdbcType=VARCHAR}, #{changeDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.victor.h5blog.entity.Video" >
    insert into h5blog_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="videoName != null" >
        video_name,
      </if>
      <if test="videoDesc != null" >
        video_desc,
      </if>
      <if test="videoTag != null" >
        video_tag,
      </if>
      <if test="videoPosterpath != null" >
        video_posterPath,
      </if>
      <if test="videoOriginalpath != null" >
        video_originalPath,
      </if>
      <if test="videoCompressedpath != null" >
        video_compressedPath,
      </if>
      <if test="catlogId != null" >
        catlog_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="changeUser != null" >
        change_user,
      </if>
      <if test="changeDate != null" >
        change_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        #{videoId,jdbcType=BIGINT},
      </if>
      <if test="videoName != null" >
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoDesc != null" >
        #{videoDesc,jdbcType=VARCHAR},
      </if>
      <if test="videoTag != null" >
        #{videoTag,jdbcType=VARCHAR},
      </if>
      <if test="videoPosterpath != null" >
        #{videoPosterpath,jdbcType=VARCHAR},
      </if>
      <if test="videoOriginalpath != null" >
        #{videoOriginalpath,jdbcType=VARCHAR},
      </if>
      <if test="videoCompressedpath != null" >
        #{videoCompressedpath,jdbcType=VARCHAR},
      </if>
      <if test="catlogId != null" >
        #{catlogId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeUser != null" >
        #{changeUser,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null" >
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.victor.h5blog.entity.VideoExample" resultType="java.lang.Integer" >
    select count(*) from h5blog_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update h5blog_video
    <set >
      <if test="record.videoId != null" >
        video_id = #{record.videoId,jdbcType=BIGINT},
      </if>
      <if test="record.videoName != null" >
        video_name = #{record.videoName,jdbcType=VARCHAR},
      </if>
      <if test="record.videoDesc != null" >
        video_desc = #{record.videoDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.videoTag != null" >
        video_tag = #{record.videoTag,jdbcType=VARCHAR},
      </if>
      <if test="record.videoPosterpath != null" >
        video_posterPath = #{record.videoPosterpath,jdbcType=VARCHAR},
      </if>
      <if test="record.videoOriginalpath != null" >
        video_originalPath = #{record.videoOriginalpath,jdbcType=VARCHAR},
      </if>
      <if test="record.videoCompressedpath != null" >
        video_compressedPath = #{record.videoCompressedpath,jdbcType=VARCHAR},
      </if>
      <if test="record.catlogId != null" >
        catlog_id = #{record.catlogId,jdbcType=BIGINT},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeUser != null" >
        change_user = #{record.changeUser,jdbcType=VARCHAR},
      </if>
      <if test="record.changeDate != null" >
        change_date = #{record.changeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update h5blog_video
    set video_id = #{record.videoId,jdbcType=BIGINT},
      video_name = #{record.videoName,jdbcType=VARCHAR},
      video_desc = #{record.videoDesc,jdbcType=VARCHAR},
      video_tag = #{record.videoTag,jdbcType=VARCHAR},
      video_posterPath = #{record.videoPosterpath,jdbcType=VARCHAR},
      video_originalPath = #{record.videoOriginalpath,jdbcType=VARCHAR},
      video_compressedPath = #{record.videoCompressedpath,jdbcType=VARCHAR},
      catlog_id = #{record.catlogId,jdbcType=BIGINT},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      change_user = #{record.changeUser,jdbcType=VARCHAR},
      change_date = #{record.changeDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.victor.h5blog.entity.Video" >
    update h5blog_video
    <set >
      <if test="videoName != null" >
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoDesc != null" >
        video_desc = #{videoDesc,jdbcType=VARCHAR},
      </if>
      <if test="videoTag != null" >
        video_tag = #{videoTag,jdbcType=VARCHAR},
      </if>
      <if test="videoPosterpath != null" >
        video_posterPath = #{videoPosterpath,jdbcType=VARCHAR},
      </if>
      <if test="videoOriginalpath != null" >
        video_originalPath = #{videoOriginalpath,jdbcType=VARCHAR},
      </if>
      <if test="videoCompressedpath != null" >
        video_compressedPath = #{videoCompressedpath,jdbcType=VARCHAR},
      </if>
      <if test="catlogId != null" >
        catlog_id = #{catlogId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeUser != null" >
        change_user = #{changeUser,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null" >
        change_date = #{changeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where video_id = #{videoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.victor.h5blog.entity.Video" >
    update h5blog_video
    set video_name = #{videoName,jdbcType=VARCHAR},
      video_desc = #{videoDesc,jdbcType=VARCHAR},
      video_tag = #{videoTag,jdbcType=VARCHAR},
      video_posterPath = #{videoPosterpath,jdbcType=VARCHAR},
      video_originalPath = #{videoOriginalpath,jdbcType=VARCHAR},
      video_compressedPath = #{videoCompressedpath,jdbcType=VARCHAR},
      catlog_id = #{catlogId,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      change_user = #{changeUser,jdbcType=VARCHAR},
      change_date = #{changeDate,jdbcType=TIMESTAMP}
    where video_id = #{videoId,jdbcType=BIGINT}
  </update>
</mapper>