/*-- responsive --*/

@media(max-width:1024px) {
    .head-nav ul li a {
        margin: 5px 18px;
        height: 60px;
    }
    .head-nav ul li a:hover,
    .head-nav ul li.active a {
        color: #42E4d8;
        height: 60px;
    }
    .head-nav {
        float: left;
        width: auto;
        margin-left: 3%;
    }
    .head-contact {
        display: none;
    }
    .header-right1 li a {
        font-size: 1em;
    }
    .banner-info h1 {
        font-size: 2em;
    }
    .banner {
        min-height: 500px;
        padding: 9em 0 0;
    }
    .our h5 {
        font-size: 1.4em;
    }
    .our h2 {
        font-size: 2em;
    }
    .our-top h3 {
        font-size: 1.4em;
    }
    .our-left {
        padding: 2em 1em 4em;
    }
    .our {
        padding: 2em 0;
    }
    .employs {
        padding: 2em 0;
    }
    .recnt h3 {
        font-size: 2em;
    }
    .air {
        padding: 0.5em;
    }
    .air-1 {
        padding: 0.5em;
    }
    .recnt h4 {
        font-size: 1.2em;
    }
    .recnt h5 {
        font-size: 1em;
    }
    .recent-right-info {
        padding: 18em 0 0;
    }
    .recent-right {
        min-height: 430px;
    }
    .recnt {
        padding: 2em 0;
    }
    .what h3 {
        font-size: 2em;
    }
    .footer-top h3 {
        font-size: 1.4em;
    }
    .footer-top {
        padding: 2em 0;
    }
    .what {
        min-height: 380px;
        padding: 2em 0;
    }
    li.ic-on {
        width: 13%;
    }
    li.wb-dis {
        width: 24%;
    }
    li.dr-co {
        width: 15%;
    }
    li.sa-pn {
        width: 20%;
    }
    li.dolla {
        width: 11%;
    }
    .about-main h3 {
        font-size: 2em;
        padding: 0;
    }
    .about-main {
        padding: 2em 0;
    }
    .main-about {
        text-align: left;
        padding: 1em 0 2em 0;
    }
    .main-about h4 {
        font-size: 1em;
    }
    .mission h3 {
        font-size: 2em;
    }
    .portfolio-top h3 {
        font-size: 2em;
    }
    .portfolios {
        padding: 2em 0 2em 0;
    }
    .b-animate img {
        margin-top: 29%;
    }
    div#portfoliolist {
        padding: 16px 0px;
    }
    .blog-artical-basicinfo {
        float: left;
        width: 11%;
    }
    .blog-artical-info-head h2 a {
        font-size: 0.7em;
    }
    .twitter-weights h3 {
        font-size: 1.2em;
    }
    .b-tag-weight h3 {
        font-size: 1.2em;
    }
    .b-tag-weight ul li a {
        padding: 0.5em 1em;
        font-size: 0.8em;
    }
    .blog-content {
        margin: 3em 0 0em;
    }
    .single-top h2 {
        font-size: 1.4em;
    }
    .respon h5 {
        font-size: 1.3em;
    }
    .main-head-section h3 {
        font-size: 2em;
        padding-bottom: 0px;
    }
    .contact_left h4 {
        font-size: 1.5em;
    }
    .company_ad h3 {
        font-size: 1.5em;
    }
    .form_details input[type="submit"] {
        font-size: 1em;
        padding: 0.7em 1em;
    }
    .contact_top {
        padding: 3em 0 1em 0;
    }
    .error-404 h1 {
        font-size: 9em;
    }
    .main {
        padding: 10em 0px;
    }
    .team-top li {
        float: left;
        width: 16.3%;
    }
    .callbacks_tabs {
        top: 150%;
        left: 45%;
    }
}
