/*-- responsive --*/
@media(max-width:320px) {
    .header-bottom {
        padding: 1em 0;
    }
    
    .logo {
        float: left;
        width: 42%;
    }
    
    .banner-info h1 {
        font-size: 1.1em;
    }
    
    .banner-info p {
        font-size: 0.9em;
        line-height: 1.5em;
        width: 100%;
    }
    
    .reservation ul li {
        float: left;
        list-style: none;
        width: 47%;
        margin-bottom: 0.5em;
        margin-right: 2%;
    }
    
    .reservation ul li.span1_of_1 {
        width: 47%;
    }
    
    .banner {
        min-height: 260px;
        padding: 4.5em 0 0;
        background: url(../images/banner.jpg) no-repeat -186px 0px;
        background-size: cover;
    }
    
    .reservation ul li.span1_of_3 {
        width: 47%;
        margin-left: 0.5%;
    }
    
    .our h5 {
        font-size: 1.1em;
    }
    
    .our h2 {
        font-size: 1.2em;
    }
    
    .r-tabs .r-tabs-nav .r-tabs-anchor {
        font-size: 1em;
        margin: 0 0 0 0.5em;
    }
    
    .team-top li {
        width: 30%;
    }
    
    .recnt h6 {
        font-size: 1.1em;
    }
    
    .recnt h3 {
        font-size: 1.2em;
    }
    
    li.ic-on {
        width: 39%;
    }
    
    li.wb-dis {
        width: 50%;
    }
    
    li.dr-co {
        width: 41%;
        margin: 0.5em 0;
    }
    
    li.sa-pn {
        width: 50%;
        margin: 0.5em 0;
    }
    
    li.dolla {
        width: 40%;
    }
    
    .recent-right {
        width: 100%;
        margin: 0 auto;
        min-height: 370px;
    }
    
    .what h6 {
        font-size: 1.1em;
    }
    
    .what h3 {
        font-size: 1.2em;
    }
    
    .what-top p {
        font-size: 0.9em;
    }
    
    .what-top h5 {
        font-size: 1em;
    }
    
    .what-top {
        width: 88%;
        padding: 1em;
    }
    
    .what {
        min-height: 332px;
        padding: 1em 0;
    }
    
    .employs {
        padding: 1em 0;
    }
    
    .about-main h3 {
        font-size: 1.2em;
        padding: 0;
    }
    
    .mission h3 {
        font-size: 1.3em;
        padding: 0;
    }
    
    .visson-text h4 {
        font-size: 0.9em;
        margin: 0;
    }
    
    .data-index {
        width: 35px;
        height: 35px;
        font: 300 50px/10px 'Open Sans', sans-serif;
    }
    
    .vission-lef {
        float: left;
        width: 12%;
        padding: 0;
    }
    
    .visson-text {
        float: right;
        width: 88%;
    }
    
    #portfoliolist .portfolio {
        width: 49%;
        margin: 0 1% 2% 0;
    }
    
    .portfolio-top h3 {
        font-size: 1.3em;
    }
    
    .post-date span {
        font-size: 0.875em;
    }
    
    .blog-artical-basicinfo li {
        width: 40px;
        height: 40px;
    }
    
    .post-date label {
        font-size: 8px;
    }
    
    .blog-artical-basicinfo {
        float: left;
        width: 18%;
    }
    
    .blog-artical-info {
        float: right;
        width: 81%;
    }
    
    .blog-artical-info-head h2 a {
        font-size: 0.45em;
    }
    
    .blog-artical {
        margin-bottom: 0em;
    }
    
    .blog-content-right {
        float: none;
        width: 100%;
        padding: 2em 0em 0;
    }
    
    .single-top {
        padding: 0;
    }
    
    .comment {
        padding: 2em 0 0;
    }
    
    .sucss-bottom li {
        font-size: 0.875em;
    }
    
    .single-top h2 {
        font-size: 1.2em;
    }
    
    .contact_left {
        padding: 0;
    }
    
    .form_details input[type="text"],
    .form_details textarea {
        padding: 9px;
        width: 100%;
        font-size: 0.9em;
    }
    
    .form_details input[type="submit"] {
        width: 46%;
    }
    
    .company-right {
        padding: 0;
    }
    
    .contact_top {
        padding: 1em 0 1em 0;
    }
    
    .main {
        padding: 4em 0px;
    }
    
    .error-404 h1 {
        font-size: 7em;
    }
    
    a.b-home {
        font-size: 0.8125em;
    }
    
    .login-left p,
    .login-right p {
        font-size: 0.9em;
    }
    
    .login-left h3,
    .login-right h3 {
        font-size: 1.1em;
    }
    
    .register-top-grid input[type="text"],
    .register-bottom-grid input[type="text"],
    .register-top-grid input[type="password"],
    .register-bottom-grid input[type="password"] {
        font-size: 0.9em;
    }
    
    .register-top-grid div,
    .register-bottom-grid div {
        width: 100%;
        float: none;
        margin: 10px 0;
    }
    
    .register-top-grid h3,
    .register-bottom-grid h3 {
        font-size: 1.1em;
    }
    
    .header-right1 {
        display: none;
    }
    
    .company_ad p {
        font-size: 0.9em;
    }
    
    .hours {
        padding: 0;
    }
    
    .foo-left {
        padding: 0;
    }
    
    .footer-top li a {
        font-size: 0.9em;
    }
    
    .callbacks_tabs {
        top: 100%;
        left: 37%;
    }
}
