/*-- responsive --*/
@media(max-width:480px) {
    .head-nav ul li {
        display: block;
        float: none;
    }
    
    .head-nav ul li a:hover,
    .head-nav ul li.active a {
        color: #0767c8;
    }
    
    .cl-effect-3 a::after {
        background: #0767c8;
    }
    
    .head-nav ul {
        position: absolute;
        margin: 0;
        padding: 2% 0;
        z-index: 9999;
        width: 100%;
        display: none;
        text-align: center;
        background: #42E4d8;
        left: 0em;
        top: 9.5em;
    }
    
    .head-nav span.menu {
        display: block;
        background: none;
        position: absolute;
        top: 20px;
        right: 32px;
    }
    
    .head-nav span.menu:before {
        content: url(../images/menu.png);
        color: #FFF;
        text-align: right;
        cursor: pointer;
    }
    
    .head-nav ul li a {
        border-right: none;
        color: #fff;
        padding: 0.4em 1.5em;
        display: block;
        font-size: 1em;
        font-weight: 650;
    }
    
    .banner-info h1 {
        font-size: 1.4em;
    }
    
    .reservation {
        padding: 10px 6px;
    }
    
    .date_btn form input[type="submit"] {
        font-size: 0.875em
    }
    
    .reservation ul li {
        float: left;
        list-style: none;
        width: 26%;
    }
    
    select {
        font-size: 0.875em;
        padding: 7px 2px;
    }
    
    .reservation ul li.span1_of_3 {
        width: 15.25%;
        margin-left: 0.5em;
    }
    
    .reservation ul li.span1_of_1 {
        width: 28%;
        margin-left: 0.1em;
    }
    
    .banner {
        min-height: 260px;
        padding: 4.5em 0 0;
    }
    
    .our h5 {
        font-size: 1.2em;
    }
    
    .our h2 {
        font-size: 1.5em;
    }
    
    .our-left {
        padding: 1em 0.5em 1em;
        width: 100%;
        float: none;
    }
    
    .recnt h6 {
        font-size: 1.2em;
    }
    
    .recnt h3 {
        font-size: 1.5em;
    }
    
    li.ic-on {
        width: 38%;
    }
    
    li.wb-dis {
        width: 32%;
    }
    
    li.dr-co {
        width: 27%;
    }
    
    li.sa-pn {
        width: 40%;
    }
    
    li.dolla {
        width: 27%;
    }
    
    .recent-right {
        width: 70%;
        margin: 0 auto;
    }
    
    .what h6 {
        font-size: 1.2em;
    }
    
    .what h3 {
        font-size: 1.5em;
    }
    
    .foo-left {
        float: none;
        width: 100%;
    }
    
    .footer-bottom p {
        text-align: center;
    }
    
    .book1 input[type="text"] {
        font-size: 0.875em;
        padding: 8px 11px;
    }
    
    .main-img {
        float: none;
        width: 100%;
    }
    
    .main-text {
        float: none;
        width: 100%;
        margin-top: 1em;
    }
    
    .vission-gride1 {
        padding: 0;
    }
    
    .vission-lef {
        float: left;
        width: 13%;
        padding: 0;
    }
    
    .visson-text {
        float: right;
        width: 87%;
    }
    
    .mission h3 {
        font-size: 1.5em;
        padding: 0;
    }
    
    .about-main h3 {
        font-size: 1.5em;
        padding: 0;
    }
    
    .visson-text h4 {
        font-size: 1em;
    }
    
    .portfolio-top h3 {
        font-size: 1.5em;
    }
    
    .blog-content-left {
        float: none;
        width: 100%;
    }
    
    .blog-content-right {
        float: none;
        width: 100%;
        padding: 2em 1em;
    }
    
    .blog-artical-info-head h2 a {
        font-size: 0.55em;
    }
    
    .single-top {
        float: none;
        width: 100%;
    }
    
    .strator {
        text-align: center;
    }
    
    .strator-left {
        float: none;
        width: 25%;
        margin: 0 auto;
    }
    
    .rep {
        text-align: center;
    }
    
    .strator-right {
        float: none;
        width: 100%;
    }
    
    .strator1 {
        margin: 1em 0 0 0em;
        text-align: center;
    }
    
    .main-head-section h3 {
        font-size: 1.5em;
    }
    
    .contact_left p {
        font-size: 0.9em;
        margin-bottom: 10px;
        width: 100%;
        margin-top: 10px;
    }
    
    .form_details input[type="text"],
    .form_details textarea {
        padding: 9px;
        width: 90%;
        font-size: 1em;
    }
    
    .form_details textarea {
        height: 136px;
        resize: none;
        width: 100%;
    }
    
    .contact_left h4 {
        font-size: 1.3em;
    }
    
    .store h4 {
        color: #00aeef;
        font-size: 1.3em;
        font-weight: 600;
    }
    
    .company_ad h3 {
        font-size: 1.3em;
    }
    
    .form_details input[type="submit"] {
        font-size: 0.875em;
        padding: 0.7em 1em;
    }
    
    .callbacks_tabs a:after {
        height: 13px;
        width: 13px;
    }
    
    .team-top li {
        display: inline-block;
        margin: 0.2em 0.2em;
        width: 31%;
        float: left;
    }
    
    .head-nav ul {
        top: 4.3em;
    }
    
    a.b-home {
        padding: 0.6em 2em;
        font-size: 0.875em;
    }
    
    .error-404 p {
        font-size: 1em;
    }
    
    .error-404 h1 {
        font-size: 5em;
    }
    
    .main {
        padding: 6em 0px;
    }
    
    .head-right {
        float: right;
        margin: 0;
    }
    
    .head-left {
        float: left;
        display: none;
    }
    
    .callbacks_tabs {
        top: 100%;
        left: 42%;
    }
}

