/*-- responsive --*/
@media(max-width:640px) {
    ul.number li {
        margin: 0 0.5em;
    }
    
    .reservation ul li.span1_of_1 {
        width: 24.33333%;
        margin-left: 0.5em;
    }
    
    .logo {
        float: left;
        width: 26%;
    }
    
    .banner-info h1 {
        font-size: 1.5em;
    }
    
    .banner {
        min-height: 350px;
        padding: 4.5em 0 0;
    }
    
    .b_room {
        width: 100%;
    }
    
    .reservation ul li.span1_of_3 {
        width: 17.25%;
        margin-left: 0.5em;
    }
    
    .our h2 {
        font-size: 1.6em;
    }
    
    .our p {
        font-size: 0.9em;
    }
    
    .our-top h3 {
        font-size: 1.2em;
    }
    
    .our-left {
        padding: 1em 0.5em 1em;
    }
    
    .recnt h3 {
        font-size: 1.6em;
    }
    
    li.sa-pn {
        width: 18%;
    }
    
    li.wb-dis {
        width: 21%;
    }
    
    li.dr-co {
        width: 17%;
    }
    
    li.ic-on {
        width: 14%;
    }
    
    li.dolla {
        width: 13%;
    }
    
    .apply_btn form input[type="submit"] {
        padding: 7px;
        font-size: 0.875em;
    }
    
    .recnt h4 {
        font-size: 1.1em;
    }
    
    .recnt p {
        font-size: 0.9em;
    }
    
    .what-top {
        width: 90%;
    }
    
    .footer-top p {
        font-size: 0.9em;
    }
    
    .footer-top h3 {
        font-size: 1.3em;
    }
    
    .footer-bottom p {
        font-size: 0.9em;
    }
    
    .what h3 {
        font-size: 1.6em;
    }
    
    .date_btn form input[type="submit"] {
        padding: 9px;
    }
    
    .banner-info p {
        font-size: 0.9em;
    }
    
    .book1 input[type="text"] {
        font-size: 0.875em;
        padding: 10px 11px;
    }
    
    select {
        font-size: 0.875em;
        padding: 9px;
    }
    
    .reservation ul li.span1_of_1 {
        width: 24.33333%;
        margin-left: 0.1em;
    }
    
    .about-main h3 {
        font-size: 1.6em;
        padding: 0;
    }
    
    .main-about h4 {
        font-size: 0.9em;
        margin: 0 0 0.5em;
    }
    
    .mission h3 {
        font-size: 1.6em;
        padding: 0;
    }
    
    .visson-text p {
        font-size: 0.9em;
    }
    
    .portfolio-top h3 {
        font-size: 1.6em;
    }
    
    .b-tag-weight ul li a {
        padding: 0.5em 1em;
        font-size: 0.6em;
    }
    
    .blog-content {
        margin: 0em 0 0em;
    }
    
    .comment input[type="text"] {
        width: 100%;
        margin-right: 0;
    }
    
    .comment textarea {
        width: 100%;
    }
    
    .main-head-section h3 {
        font-size: 1.6em;
    }
    
    .team-top li {
        display: inline-block;
        margin: 0.2em 0.2em;
        width: 32%;
        float: left;
    }
    
    .head-nav span.menu {
        top: 94px;
        right: 206px;
    }
    
    .error-404 h1 {
        font-size: 6em;
    }
    
    .main {
        padding: 7em 0px;
    }
    
    .callbacks_tabs {
        top: 150%;
        left: 44%;
    }
}

