body {
    background-position: 0 55px;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, 'Microsoft YaHei', Verdana, Aril, sans-serif;
    !important;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: .1em !important;
    line-height: 1.6em !important;
    word-break: break-all;
    background-color: #fff
}

body::selection {
    color: #fff;
    background-color: #8ab516;
    text-shadow: none
}

.small,
small {
    display: block
}

blockquote {
    font-size: 14px
}

@media(min-width:800px) {
    #bgDiv {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        background-image: url("http://img.t.sinajs.cn/t6/skin/skin048/images/body_bg_page.jpg?id=201503261330");
        background-position: center;
        background-repeat: repeat;
        background-attachment: fixed
    }
}

.status,
#vcard {
    max-width: 810px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25)
}

.card {
    max-width: 810px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25)
}

.box .title {
    border-bottom: 1px solid #d8d8d8;
    margin: -9px;
    padding: 9px;
    background-color: #f5f5f5
}

.box h4 {
    color: #ee6e73;
    margin: 0;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: inline
}

.box .title span.glyphicon {
    float: right;
    top: 6px
}

.box h4:before {
    border-bottom: 1px solid #ee6e73;
    position: absolute;
    content: "";
    width: 78px;
    height: 0;
    bottom: -1px
}

.box_hidden {
    margin-top: 10px
}

h3.title {
    color: #ee6e73;
    margin: 0;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    position: relative;
    bottom: 5px
}

h3.title:before {
    border-bottom: 1px solid #ee6e73;
    position: absolute;
    content: "";
    width: 103px;
    height: 0;
    bottom: -1px
}

#content {
    margin: auto
}

#comment {
    height: 100%
}

.bigcursor {
    cursor: url(http://img.t.sinajs.cn/t6/style/images/common/big.cur), auto !important
}

.smallcursor {
    cursor: url(http://img.t.sinajs.cn/t6/style/images/common/small.cur), auto !important
}

.leftcursor {
    cursor: url(http://img.t.sinajs.cn/t6/style/images/common/pic_prev.cur), auto
}

.rightcursor {
    cursor: url(http://img.t.sinajs.cn/t6/style/images/common/pic_next.cur), auto
}

.current {
    border: 4px solid #ffa306
}

a {
    color: #428bca;
    text-decoration: none
}

a:hover,
.user:hover {
    color: #ff6fa2;
    text-decoration: none
}

.weibo .status:hover,
.user_list .user:hover {
    background-color: #f5f5f5
}

div.hot-word {
    background: none repeat scroll 0 0 #fffcfb;
    border: 1px solid #fbd0b2;
    border-radius: 3px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 25px
}

.highlight {
    color: #c00;
    font-style: initial
}

#header .nav {
    width: 70%;
    max-width: 900px;
    min-width: 360px;
    margin: 0 auto
}

#user_status {
    width: 750px;
    max-width: 100%;
    margin: auto
}

.user_list div.user {
    overflow: hidden;
    display: inline-block;
    width: 180px;
    padding-top: 5px;
    margin-bottom: -6px
}

.user {
    border-bottom: 1px solid #d8d8d8
}

.user .avatar {
    padding-top: 5px
}

.user a {
    display: block
}

ul.pager {
    text-align: center
}

ul.pager a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px
}

#footer {
    padding: 10px 0 10px 0;
    background-color: #ccc;
    width: 100%
}

img {
    max-width: 100%
}

.status_info {
    color: #999
}

.status-title {
    text-align: center
}

.pic_list {
    padding: 0
}

.lotspic_list {
    width: 270px;
    padding: 0
}

.lotspic_list li {
    display: inline;
    overflow: hidden
}

.lotspic_list img {
    margin: 3px;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    max-width: 30%
}

.thumbs img {
    max-height: 220px
}

.comment_list dt {
    float: left;
    display: inline;
    width: 30px;
    padding: 3px 0 0
}

.comment_list dt img {
    border-radius: 15px
}

.comment_list dd {
    margin: 0 0 0 40px;
    line-height: 21px;
    word-wrap: break-word;
    vertical-align: text-bottom
}

.comment_list {
    margin: -1px 0 0;
    padding: 7px 0 20px;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #c6d89f;
    zoom: 1
}

div.author {
    height: 60px;
    border-bottom: 1px solid #e5e5e5
}

div.avatar {
    float: left;
    margin-right: 15px
}

div.author span.screen_name {
    display: block
}

.href {
    color: #428bca
}

.bootstrap-dialog-message .status br {
    display: none
}

.href:hover,
.pointer:hover {
    cursor: pointer
}

#user_stats {
    display: none
}

#vcard .username {
    text-align: center
}

#vcard p:hover {
    background-color: #d4f6e8
}

#vcard div.info {
    display: block
}

.Gallery-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-height: 338px;
    background-color: #fff;
    border-radius: 7px;
    width: 100%
}

.GalleryNav--prev {
    left: 0;
    width: 33%;
    float: left
}

.GalleryNav {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%
}

.GalleryNav--next {
    right: 0;
    width: 33%;
    float: right
}

@media(max-width:800px) {
    body {
        max-width: 100%;
        overflow-x: hidden
    }
    #header .header-nav {
        width: 100%
    }
    #header .header-nav ul {
        padding-left: 0
    }
    #vcard .avatar {
        width: 50px;
        height: 50px
    }
    #vcard div.info {
        display: inline;
        margin-right: 10px
    }
    .weibo,
    .btn-next,
    .col-md-12,
    .col-xs-12 {
        padding-right: 0;
        padding-left: 0
    }
}

@media(max-width:550px) {
    #header li a {
        padding-right: 10px
    }
}

@media(max-width:360px) {
    blockquote {
        padding: 10px 0
    }
}

@media(max-width:500px) {
    .weibo_ad {
        width: 100%;
        height: 100%;
        padding: 0
    }
}

@media(max-width:800px) {
    .weibo_ad {
        width: 390px;
        max-width: 100%;
        max-height: 100%;
        margin-left: 0 !important
    }
}

.Validform_wrong {
    background: url(/image/account_ts.png) 2px -76px no-repeat;
    color: #F30;
    border: 1px solid #F30;
    background-color: #fff6f6
}

.Validform_info_nomal,
.Validform_right,
.Validform_wrong {
    width: auto;
    height: auto;
    line-height: 20px;
    position: relative;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px;
    padding-top: 2px;
    padding-left: 24px
}

.Validform_right {
    background: url(/image/account_ts.png) 0 -2px no-repeat
}

#login_user input {
    width: 220px
}

.fixed1 {
    position: fixed;
    left: 0;
    top: 0
}

.fixed2 {
    position: fixed;
    right: 0;
    top: 0
}

.fixed3 {
    position: fixed;
    left: 0;
    bottom: 0
}

.fixed4 {
    position: fixed;
    right: 0;
    bottom: 0
}

.weibo_ad {
    width: 750px;
    height: 110px
}

#user_statuses .weibo_ad {
    margin-left: -16.666%
}

#user_status .weibo_ad {
    width: auto;
    height: auto
}

#ticket_add {
    position: fixed;
    top: 170px
}

body {
    _margin: 0;
    _height: 100%
}

.d-outer {
    text-align: left;
    outline: none 0
}

.d-border,
.d-dialog {
    border: 0 none;
    margin: 0;
    border-collapse: collapse;
    width: auto
}

.d-nw,
.d-n,
.d-ne,
.d-w,
.d-c,
.d-e,
.d-sw,
.d-s,
.d-se,
.d-header,
.d-main,
.d-footer {
    padding: 0
}

.d-header,
.d-button {
    font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti;
    -o-font-family: Tahoma, Arial
}

.d-title {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default
}

.d-state-noTitle .d-title {
    display: none
}

.d-close {
    display: block;
    position: absolute;
    text-decoration: none;
    outline: 0;
    _cursor: pointer
}

.d-close:hover {
    text-decoration: none
}

.d-main {
    text-align: center;
    vertical-align: middle;
    min-width: 9em
}

.d-content {
    display: inline-block;
    display: block;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    text-align: left;
    border: 0 none
}

.d-content.d-state-full {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 !important;
    height: 100%
}

.d-loading {
    width: 96px;
    height: 32px;
    text-align: left;
    text-indent: -999em;
    overflow: hidden;
    background: url(/loading.gif) no-repeat center center
}

.d-buttons {
    padding: 8px;
    text-align: right;
    white-space: nowrap
}

.d-button {
    margin-left: 15px;
    padding: 0 8px;
    cursor: pointer;
    display: inline-block;
    min-height: 2.2em;
    text-align: center;
    *padding: 4px 10px;
    *height: 2em;
    letter-spacing: 2px;
    font-family: Tahoma, Arial !important;
    width: auto;
    overflow: visible;
    *width: 1;
    color: #333;
    border: 1px solid #999;
    border-radius: 5px;
    background: #DDD;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
    background: linear-gradient(top, #FFF, #DDD);
    background: -moz-linear-gradient(top, #FFF, #DDD);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FFF), to(#DDD));
    text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
    -moz-transition: -moz-box-shadow linear .2s;
    -webkit-transition: -webkit-box-shadow linear .2s;
    transition: box-shadow linear .2s
}

.d-button::-moz-focus-inner,
.d-button::-moz-focus-outer {
    border: 0 none;
    padding: 0;
    margin: 0
}

.d-button:focus {
    outline: none 0;
    border-color: #426dc9;
    box-shadow: 0 0 8px rgba(66, 109, 201, .9)
}

.d-button:hover {
    color: #000;
    border-color: #666
}

.d-button:active {
    border-color: #666;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF');
    background: linear-gradient(top, #DDD, #FFF);
    background: -moz-linear-gradient(top, #DDD, #FFF);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#DDD), to(#FFF));
    box-shadow: inset 0 1px 1em rgba(0, 0, 0, .6), inset 0 1px 1em rgba(0, 0, 0, .3)
}

.d-button[disabled] {
    cursor: default;
    color: #666;
    background: #DDD;
    border: 1px solid #999;
    filter: alpha(opacity=50);
    opacity: .5;
    box-shadow: none
}

.d-state-highlight {
    color: #FFF;
    border: 1px solid #1c6a9e;
    background: #28c;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
    background: linear-gradient(top, #3be, #28c);
    background: -moz-linear-gradient(top, #3be, #28c);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#3be), to(#28c));
    text-shadow: -1px -1px 1px #1c6a9e
}

.d-state-highlight:hover {
    color: #FFF;
    border-color: #0f3a56
}

.d-state-highlight:active {
    border-color: #1c6a9e;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
    background: linear-gradient(top, #3be, #28c);
    background: -moz-linear-gradient(top, #3be, #28c);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#3be), to(#28c))
}

.d-mask {
    background: #000;
    filter: alpha(opacity=70);
    opacity: .7
}

.d-inner {
    background: #FFF;
    border: 1px solid #666
}

.d-nw,
.d-ne,
.d-sw,
.d-se {
    width: 3px;
    height: 3px
}

.d-nw,
.d-n,
.d-ne,
.d-w,
.d-e,
.d-sw,
.d-s,
.d-se {
    background: rgba(0, 0, 0, .05);
    background: #000\9 !important;
    filter: alpha(opacity=5)
}

.d-titleBar {
    position: relative;
    height: 100%
}

.d-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    text-indent: -9999em;
    overflow: hidden;
    font-size: 0
}

.d-state-drag .d-title {
    color: #666
}

.d-close {
    padding: 0;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-family: Helvetica, STHeiti;
    _font-family: '\u9ed1\u4f53', 'Book Antiqua', Palatino;
    font-size: 18px;
    text-decoration: none;
    color: #214fa3
}

.d-close:hover,
.d-close:active {
    text-decoration: none;
    color: #900
}

.d-content {
    color: #666
}

.d-state-focus .d-content {
    color: #000
}

@media screen and (min-width:0) {
    .d-close {
        width: 20px;
        height: 20px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        border-radius: 20px;
        background: #999;
        color: #FFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        -moz-transition: linear .06s;
        -webkit-transition: linear .06s;
        transition: linear .06s
    }
    .d-close:hover {
        width: 24px;
        height: 24px;
        line-height: 24px;
        right: -12px;
        top: -12px;
        color: #FFF;
        box-shadow: 0 1px 3px rgba(209, 40, 42, .5);
        background: #d1282a;
        border-radius: 24px
    }
    .d-state-lock .d-dialog {
        box-shadow: 0 3px 26px rgba(0, 0, 0, .9);
        -moz-transition: -moz-box-shadow linear .2s;
        -webkit-transition: -webkit-box-shadow linear .2s;
        transition: -webkit-box-shadow linear .2s
    }
    .d-dialog:active {
        box-shadow: 0 0 5px rgba(0, 0, 0, .1) !important
    }
    .d-state-drag {
        box-shadow: none !important
    }
}

.image_hide img {
    display: none !important
}

.year.disabled,
.month.disabled {
    display: none
}

.is_vip-block,
.is_vip-inline-block,
.is_vip-inline {
    display: none
}

#vcard {
    border: 0;
    box-shadow: none
}

#header .navbar-default {
    background-color: #fff
}

#vcard img.avatar {
    border-radius: 8px
}

.form-search .search-input {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 12px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    transition: all .2s ease-in-out
}

.form-search .glyphicon-search {
    position: absolute;
    top: 10px;
    right: -5px;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: transparent
}

.weibo .status.nort,
.weibo .nort .status {
    margin: auto;
    position: relative;
    min-height: 51px;
    padding: 9px 12px 9px 70px;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #e1e8ed;
    background-clip: padding-box
}

.weibo .status:hover {
    background-color: #f5f8fa
}

.weibos {
    border-radius: 6px;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed
}

.weibo div.author {
    display: inline
}

.weibo div.author img {
    border-radius: 5px
}

.weibo div.author .screen_name {
    font-weight: bold;
    color: #292f33;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.weibo .author .avatar {
    float: left;
    margin-left: -58px
}

.status_word {
    font-size: 16px
}

@media(min-width:800px) {
    .weibo .status small {
        visibility: hidden;
        display: inline;
        color: #8899a6;
        text-decoration: none
    }
    .weibo .status:hover small {
        visibility: visible
    }
}

@media(max-width:550px) {
    .weibo .status.nort,
    .weibo .nort .status {
        padding: 10px
    }
    .weibo .author .avatar {
        margin-left: 0
    }
}

#header {
    width: 100%;
    min-width: 100%;
    height: 48px;
    border-top: 2px solid #fa7d3c;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
    background: #fff
}

.navbar2 {
    width: 920px;
    margin: auto
}

.navbar-collapse2 {
    margin: 5px 20px 11px -20px
}

.nav2 li {
    float: right;
    display: inline;
    position: relative;
    max-width: 139px;
    margin-left: 30px;
    font-size: 14px
}

.nav2 li a {
    color: #333;
    display: block;
    _display: inline;
    height: 26px;
    line-height: 26px;
    white-space: nowrap
}

.sitename a {
    margin-left: 0;
    font-size: 1.6em;
    font-weight: 900
}

.profile_banner {
    margin: auto;
    width: 920px
}

@media(max-width:920px) {
    .profile_banner,
    .navbar2 {
        width: 100%
    }
}

@media(max-width:550px) {
    .nav2 {
        overflow: hidden;
        height: 30px;
        padding-top: 5px
    }
    .nav2 li {
        margin-left: 0
    }
}

.profile_banner,
#plc_main {
    padding-top: 16px
}

.profile_banner .user_info {
    padding-top: 38px
}

.photo {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 4px;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%
}

.profile_banner .avatar {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%
}

.username {
    text-align: center;
    font-size: 22px;
    color: #FFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5)
}

.pf_intro {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #fff;
    line-height: 18px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5)
}

.action div {
    margin: auto;
    width: 220px
}

.action a {
    margin: auto;
    width: 104px;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background: #fa7d3c;
    background: -webkit-linear-gradient(top, #fa7d3c 0, #f55f10 100%);
    background: -o-linear-gradient(top, #fa7d3c 0, #f55f10 100%);
    background: -ms-linear-gradient(top, #fa7d3c 0, #f55f10 100%);
    background: linear-gradient(top bottom, #fa7d3c 0, #f55f10 100%);
    display: inline-block;
    height: 34px;
    line-height: 35px;
    font-size: 14px;
    text-align: center
}

.btn-action .btn {
    margin-bottom: 5px
}

#robot {
    display: block;
    width: 140px;
    height: 170px;
    position: fixed;
    bottom: 300px;
    left: 160px;
    z-index: 9999
}

#talk {
    color: #191919;
    border: 1px solid #c4c4c4;
    background: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 1em;
    padding: 5px;
    top: -45px;
    position: absolute;
    text-align: center;
    width: auto !important;
    z-index: 10000;
    -moz-box-shadow: 0 0 15px #eee;
    -webkit-box-shadow: 0 0 15px #eee;
    border-color: #eee;
    box-shadow: 0 0 15px #eee;
    outline: 0
}

#talk a {
    cursor: pointer
}

#robot_avatar {
    width: 140px;
    height: 170px;
    cursor: move;
    background: url("http://wbdacdn.com/image/Doraemon/duola-a-meng_71.png");
    background-position-x: -20px
}
