<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<description>apache shiro配置</description>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/index.htm" />
		<property name="successUrl" value="/manage/article/list.htm" />
		<property name="unauthorizedUrl" value="401.htm" />
		<property name="filterChainDefinitions">
			<value>
				<!-- 静态资源允许访问 -->
				/static/** = anon
				<!-- 首页允许访问 -->
				/index.htm = anon
				<!-- 登录页允许访问 -->
				/admin/login.htm = anon
				/admin/login.json = anon
				<!-- 获取验证码 -->
				/admin/captcha.htm = anon
				<!-- 公共报错页面 -->
				/4**.htm = anon
				<!-- 其他资源需要认证 -->
				/manage/* = authc
			</value>
		</property>
	</bean>

	<!-- shiro 注解拦截 -->
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="securityRealm"></property>
	</bean>

	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="securityManager" />
	</bean>

	<bean id="securityRealm" class="com.victor.h5blog.security.SecurityRealm">
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>

	<!-- 缓存管理器 使用Ehcache实现 -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ecache/ehcache-shiro.xml" />
	</bean>

	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>