@charset "utf-8";
/* CSS Document */

/* ######### generic style ######### */

body{font-size:12px; color:#666; font-family:Arial, Helvetica, sans-serif;} 
input, select, option{color:#666;}

.greylink a:link,.greylink a:visited{color:#666666;text-decoration:none;}
.greylink a:hover{color:#025087;text-decoration:underline;}

a:link, a:visited{color:#006bb6;text-decoration:none;}
a:hover{color:#025087;text-decoration:underline;}

.cursor{
	cursor:hand;
	cursor:pointer;
}

.largeTxt{font-size:22px; line-height:1em;}
.txtBlue{color:#134176;}
.smalltxt{font-size:10px;}
.midtxt{ font-size:11px;}
.hlTxt{color:#0B3F92;}
html .col2 .txtPlainBlue{color:#03539C;}
sup{ vertical-align:text-top; margin:0 1px; font-size:11px;}

.col2{font-family:新細明體, mingliu, Helvetica, sans-serif; letter-spacing:1px; line-height:1.3em !important normal; _line-height:normal;}
/**
 * ========================================
 *
 * 
/* header
 * ----------------------------------------
 *
 *
 *
 *
 */
.header .topMenu ul li a{color:#DFF0FD; text-decoration:none;}
.topMenu ul li a:hover{color:white; text-decoration:none;}
.header .menuList .current, .header .menuList .current:hover{background:url(/zh_cn/images/top_menu_current.gif) repeat-x 0 0; color:#023378;}

.topMenu .subMenuBox ul li a{background:url(/zh_cn/images/arrow_gray.jpg) no-repeat 0 4px; padding-left:9px; display:inline-block; color:#525659;}

.subMenuBox ul li a:visited{color:#525659;}
.subMenuBox ul li a:hover{color:#006bbb; /*background-image:url(/zh_cn/i	mages/arrow_blue.jpg);*/}

.subMenuBox .desc .tit{color:#192c67; font-size:13px; font-weight:bold;}

.functionsBar, .functionsBar a{font-size:11px;}
.countryList a, .helpItem .itemList a{color:#666; background-color:#e0f0ff; border-bottom:1px solid white;}
.countryList a:hover, .helpItem .itemList a:hover{color:white; background-color:#2288dd; text-decoration:none;}

.tab-menu-item  { float:left; background:url(../images/nav_bar_line.gif) no-repeat left center; margin-top:1px; margin-bottom:1px; font-weight:bold;}

.tab-menu .highlight { background:url(../images/top_menu_current2.gif) repeat-x 0 0; margin-top:1px; margin-bottom:1px;}
.tab-menu .hover { background:url(../images/top_menu_current.gif) repeat-x 0 0; margin-top:1px; margin-bottom:1px;}

.tab-menu .highlight-first {background:url(../images/rollover_left2.gif) no-repeat 0 0;}
.tab-menu .hover-first {background:url(/zh_cn/images/rollover_left.gif) no-repeat 0 0;}

.tab-menu .highlight a , .tab-menu .hover a , .tab-menu .highlight-first a, .tab-menu .hover-first a { color: #003576 !important;}

/**
 * ========================================
 *
 * 
/* content
 * ----------------------------------------
 *
 *
 *
 *
 */
   /*table no-border*/
 .bluePt{ padding:1px;}
 .bluePt li{ background:url(../images/btn_dot_blue.gif) 3px 5px no-repeat; padding-left:15px; }
 .subpoint{ padding:0 30px;}
 .tableNoborder tr td{ border:none medium; border-top:none medium; padding:0 0 0 2px;}
.loginContainer a{font-size:11px;}

.eventList .tit, .itemList .tit{color:#003576; font-size:15px; width:300px;}
.eventList, .itemList{font-size:11px; color:#333;}
.itemList .box {*font-size:11px; *color:#333; height:100px; *height:95px;}
.midField{padding-right:15px; width:157px; height:58px;}
.midFieldR{padding-right:15px; width:160px; height:58px;}

.quickLink ul{font-size:11px; color:#333;}
.quickLink .tit{font-size:14px; color:#003576; font-weight:bold;}
.quickLink a:hover{text-decoration:none;}
.btnAll{font-size:10px;}
.btnAll:hover{background-color:#fafafa; text-decoration:none;}

.col1 h2{font-size:16px; font-weight:bold; display:none;}
.col1 ul li a{color:#555; font-size:11px;}
.col1 ul li a:visited{_color:#555; _font-size:11px;}
.col1 ul li a:hover{color:#006bb6; text-decoration:none;}

.col1 .section-menu-item a.selected,
.col1 .section-menu-item a.selected:visited,
.col1 ul li .category-menu-item a.selected{ color:#00317D;}
.col1 ul li .category-menu-item a.selected:visited{ color:#00317D;}

h1{color:#003576; font-size:20px; font-family: 黑体, 新細明體, mingliu, Helvetica, sans-serif; font-weight:normal;line-height:1.2em;}
.col2 h2{color:#003576; font-size:17px;}

.col2 .topBanner a:hover{text-decoration:none; cursor:pointer;}

.col2 .topBanner dl{color:white; font-family: 黑体, 新細明體, mingliu, Helvetica, sans-serif;font-size:20px;line-height:1.2em;}
.col2 .topBanner dl dt{font-size:20px;line-height:1.2em;}
.col2 .topBanner dl dd{font-size:12px;}
.col2 .topBanner .btnYellow{font-size:16px; font-weight:bold; color:white;}
.col2 .topBanner .btnYellow:hover{text-decoration:none;}

a.btnApply span{font-size:24px; font-family: 黑体, 新細明體, mingliu, Helvetica, sans-serif; color:white; line-height:2em; font-weight:bold;}
a.btnApply:hover{text-decoration:none;}

.tabsBox .tabs a:hover{text-decoration:none;}

.promoBanner ul li *, .rightSideBanner .btn{font-size:11px;}
.promoBanner ul li a{color:#333;}
.promoBanner ul li a:hover{color:#025087;text-decoration:underline;}

.numList{ margin-left:22px;}
.numList li{ list-style:decimal outside;}

/**
 * ========================================
 *
 * 
/* footer
 * ----------------------------------------
 *
 *
 *
 *
 */
 
.footer{font-size:10px; font-family:新細明體, mingliu, Helvetica, sans-serif;}
.footer_popup{font-size:10px; font-family:新細明體, mingliu, Helvetica, sans-serif;}
.footerContainer{font-size:10px; font-family:新細明體, mingliu, Helvetica, sans-serif;}

.step-up td{border:solid 1px #cccccc; padding:5px;}
.step-up .top{background-color:#006bb6; text-align:center; color:#FFFFFF}
.step-up .content{text-align:center; color: #555555;}

.ps-box{width:208px; margin:20px auto 0 auto;}

.ps-box dl dt{border:1px solid #e6e1e7; border-top-width:0; font-size:15px; background-color:#004d9d; color:white; padding:4px 0 4px 7px; width:199px;}
.ps-box dl dd{padding:10px 0; border:1px solid #e6e1e7; border-bottom-width:0; width:206px;}
.ps-box dl dd b{color:#003a77; font-size:13px;}
.ps-box dl dd a{text-decoration:none; color:#003a77;}

.ps-box dl th{width:45px; text-align:center;}
.ps-box dl td{padding-right:4px;}

.form td{padding:3px;}
.form .top{background-color:#006bb6; font-weight:bold; color:#ffffff; text-align:center;}
.form .lastupdate{background-color:#006bb6; font-size:11px; color:#ffffff; text-align:right; font-weight:lighter;}
.form .title{border-bottom:1px solid #d9e2eb; color:#01386e;}
.form .titletxt{text-align:left;}
.form .content1{background-color:#FFFFFF; text-align:left; color: #555555;}
.form .content2{background-color:#f2f6f9; text-align:left; color: #555555;}

/*form style*/

.formTable2{  width:960px; border-bottom:#d7d7d7 1px solid; background: url(../images/personal/formTable/form_table2_bg.gif) repeat-y top left; }
.formTable2 thead th{background:#dae1eb url(../images/personal/formTable/form_table2_top.gif) no-repeat top left;padding:8px 14px; font-weight:bold; color:#003D7E;}
.formTable2 th{background:#dae1eb;padding:8px 14px; font-weight:bold; color:#003D7E;}

.formtableTop{background:url(/zh_cn/images/form_table_top_b2.gif) no-repeat 0 0;}


select.cardno{  background:transparent; outline:medium none; height:18px; margin:2px 0; border:none; padding:0;}

.inputSel{background:url(../images/personal/formTable/input.png) repeat-x top left; height:21px; _background:none; _height:auto;}

input.btn{background:url(../images/personal/formTable/btn_blue.gif) no-repeat scroll 0px 2px transparent; *background:url(../images/personal/formTable/btn_blue.gif) no-repeat scroll 0px 0px transparent; width:110px; height:32px; color: #F7F7F7; font-weight:normal; border:none; cursor:pointer;}
input.btn:hover{ background:url(../images/personal/formTable/btn_blue_on.gif) no-repeat scroll 0px 2px transparent;
*background:url(../images/personal/formTable/btn_blue_on.gif) no-repeat scroll 0px 0px transparent; color:#ffffff;}

input.btn2{background:url(../images/personal/formTable/btn_blue2.gif) no-repeat scroll 0px 2px transparent; *background:url(../images/personal/formTable/btn_blue2.gif) no-repeat scroll 0px 0px transparent; width:110px; height:32px; color: #F7F7F7; font-weight:normal; border:none; cursor:pointer;}
input.btn2:hover{ background:url(../images/personal/formTable/btn_blue2_on.gif) no-repeat scroll 0px 2px transparent;
*background:url(../images/personal/formTable/btn_blue2_on.gif) no-repeat scroll 0px 0px transparent; color:#ffffff;}

/*
.form input[type="text"],
.master input[type="text"]{  border: transparent 0px; background:url(../images/personal/formTable/input.png) repeat-x top left;_background:none; outline:medium none; height:21px; margin:0; *margin-top:-1px; *padding:3px 0 0 0; _padding:0px; }
*/

/* commented on 19/07/10
.master .inputglob{  
background-image:url("../images/inputbg-big.gif");
background-position:left top;
background-repeat:no-repeat;
float:left;
height:22px;
padding:3px 0 0 7px;
width:256px;
}

.master .inputglob input
{
background-color:transparent;
border:0 solid #FFFFFF;
color:#999999;
float:left;
font-size:11px;
height:16px;
margin:0;
padding-top:1px;
width:240px;
}
*/
.master .inputglob input
{ 
border:1px solid #CCCCCC;
/*width:240px;*/
}
.inputbg{ background:url(../images/personal/formTable/input-left.png) no-repeat top left;_background:none;  height:21px; padding:0 0 0 7px;_padding:0; display:block; margin:0; float:left;}
.inputRtBg{ background:url(../images/personal/formTable/input-right.png) no-repeat top right;_background:none; height:21px; width:7px; margin:0; display:block; float:left; margin-right:5px;}

.btnGo {
background:url(../images/btn_arrow_blue.jpg) no-repeat scroll left center transparent;
display:inline-block;
margin-top:2px;
padding-left:20px;
}

.formTable{ width:576px; background:url(../images/form_table_bg_b.gif) repeat-y; border-bottom:#efefef 1px solid; }


.formTable th, .formTable td{ padding:8px 14px;}
.formTable th{  color:#003d7e; font-weight:bold;background:#dae1eb;}
.formTable thead td{padding-top:20px; padding-bottom:20px;}
.formTable thead th{background:#dae1eb url(..images/form_table_top_b.gif) no-repeat;}

.grey_border { border: 1px solid #cccccc; }
.calc_textbox {
    border: 1px solid #cccccc;
}
.formTable input[type^=text], .box input[type^=text]  {
    border: 1px solid #cccccc;
}
.inputCol em{ padding-top:4px; padding-right:4px;}
#tabsBox .pad9{ padding:5px 9px 5px 5px;}
.pad10{padding:10px;}
.clearPad,
.clearPad td
{ padding:0;}
.valdOk{ font-size:11px; background:url(../images/tick.gif) 0px 3px no-repeat; width:15px; color:green; height:15px; float:left; display:block;}


.borderGrayTb {   border-color: #ccc;
    border-width: 0 0 1px 1px;
    border-style: solid;
}
.borderGrayTb td{border-color: #ccc;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #fff;
}

.valdFail{ font-size:11px; background: url(../images/cross.gif) 0px 3px no-repeat; padding:0px  0 0 15px; color:red;}
.valdFail2{  background: url(../images/cross.gif) 0px 3px no-repeat; padding:0px  0 0 15px; color:red; font-weight:bold;}

.list td,
.formContent td,
.form td,
.form th
{ font-size:12px;}

.oldDocType select{ outline:#7f9db9 thin solid;}
.oldDocType .form input[type="text"],
.oldDocType .master input[type="text"]{ background:none;_background:none; outline:#7f9db9 thin solid; height:18px; margin:0; padding:auto; }

/*cslider.css*/
.sliderwrapper{
position: relative;
overflow: hidden;
width:100%;
height: 130px;
}



.sliderwrapper .contentdiv{
visibility: hidden;
position: absolute;
left: 0;
top: 0;
padding: 0px;
background: white;
width:100%;
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.pagination{
text-align: center;
width:575px;
float:left;
margin-top:5px;
margin-bottom:15px;
}

.pagination a{
display:inline-block;
text-decoration: none; 
background:url(/zh_cn/images/personal/credit_card/credit_card_banner_btn.jpg) no-repeat 0 0;
width:189px;
height:23px;
float:left;
padding-top:7px;
overflow:hidden;
margin-left:4px;
font-weight:bold;
}

.pagination a:hover, .pagination a.selected{
color: white;
background-position:0 -30px;
}


.popup_layer_ezpz {cursor:help;}
.popup_layer_tooltipHelper {position:absolute;padding-top:10px;display:none;z-index:5000;max-width:400px;background:url('/zh_cn/images/popup_layer-tooltip-arrow.gif') no-repeat 50% 0 ;text-align:left;color:#FFF;}
.popup_layer_tooltipHelper p {background:url('/zh_cn/images/popup_layer-tooltip-bg.jpg') 0 50% repeat-x #3d94db;padding:10px 15px;border:3px solid #d6ebfe;}
.popup_layer_tooltipHelper u {display:none;}
.popup_layer_tooltipHelper br {display:none;}



/* Add By Song */
.button{background-color:#002b61;font-size:12px;color:#ffffff; padding:3px 6px;cursor:pointer;}
.button0{background-color:#002b61;font-size:12px;color:#ffffff; padding:3px 6px;cursor:pointer;}

.function-span{background: url(../images/20130111-00-07.png) no-repeat center;font-size:15px;color:#ffffff; padding:3px 6px;width:200px}
.select-span{background-image: url(../images/20130111-00-10.png); width: 132px; height: 58px; text-align: center;}

.navname{font-size:11px;color:#666;font-weight:none;}

.tdname{text-align:center ;width:132px;height:22px;}

.navname0{font-size:11px;color:#003576;font-weight:700;font-weight:Bold; }

.page-title{font-size:20px;color:#003576;font-weight:Bold; }

.content-title{font-size:15px;color:#003576;font-weight:Bold;}

.content-paragraph{font-size:12px;color:#666;}

.content-linkage{font-size:12px;color:#006BB6;}

.banner-tagline{font-size:20px;color:#003576;font-weight:Bold;}

.table-header{font-size:h2;color:#003576;font-weight:Bold;}

.table-content{font-size:12px;color:#666;}

.right-content{width:500px}

.content-paragraph-strong{font-size:12px;color:#003576;font-weight:Bold;}